---
---
<div class="publication-card">
  <div class="publication-entry">
    {{ reference }}
  </div>

  {% if entry.annotation %}
  <div class="publication-annotation">
    <strong>{{ entry.annotation }}</strong>
  </div>
  {% endif %}
</div>
